/*
* Erin Berger
* April 9, 2019 
* Kiawah Island 
*/

/* The universal selector */

* . {

}

/* Body attributes here */

body {
    /* this is so the page is centered */ 
    width: 80%; 
    margin: auto;
    
    font-family:sans-serif;
    
    /* this makes the whole page a color */
    background-color: beige
        
        
}

/* this makes all the pictures the same size */ 
img { width: 400px; height: 150px; }


/* this collapses the space in the corder, makes the border solid, and gives the whole table a background color */  
table, td, th { border: 1px solid black; }

table { border-collapse: collapse; }

table {background-color:darkseagreen; }